<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addProduct</display-name>
    <servlet-name>addProduct</servlet-name>
    <servlet-class>addProduct</servlet-class>
    <multipart-config>
      <max-file-size>2097152</max-file-size>
      <max-request-size>4194304</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>addProduct</servlet-name>
    <url-pattern>/addProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book</display-name>
    <servlet-name>book</servlet-name>
    <servlet-class>book</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addCoupon</display-name>
    <servlet-name>addCoupon</servlet-name>
    <servlet-class>addCoupon</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCoupon</servlet-name>
    <url-pattern>/addCoupon</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCouponServlet</display-name>
    <servlet-name>AddCouponServlet</servlet-name>
    <servlet-class>AddCouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCouponServlet</servlet-name>
    <url-pattern>/AddCouponServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAccount</display-name>
    <servlet-name>updateAccount</servlet-name>
    <servlet-class>updateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAccount</servlet-name>
    <url-pattern>/updateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>process</display-name>
    <servlet-name>process</servlet-name>
    <servlet-class>process</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>process</servlet-name>
    <url-pattern>/process</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderHistoryServlet</display-name>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <servlet-class>OrderHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderHistoryServlet</servlet-name>
    <url-pattern>/OrderHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>order</display-name>
    <servlet-name>order</servlet-name>
    <servlet-class>order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
</web-app>